<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="BB.Poker.GatewayServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
        <BB.Poker.GatewayServer.Properties.Settings>
            <setting name="ClientListeningPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="BroadcastRange" serializeAs="String">
                <value>58464-58484</value>
            </setting>
            <setting name="AppId" serializeAs="String">
                <value>Poker Reloaded</value>
            </setting>
            <setting name="ServerType" serializeAs="String">
                <value>GatewayServer</value>
            </setting>
            <setting name="ServerId" serializeAs="String">
                <value>BDFC322A-6317-4230-A1E5-2E5A6563684F</value>
            </setting>
            <setting name="ListeningPort" serializeAs="String">
                <value>58469</value>
            </setting>
        </BB.Poker.GatewayServer.Properties.Settings>
    </applicationSettings>
</configuration>
