<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="BB.Poker.GameServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
        <BB.Poker.GameServer.Properties.Settings>
            <setting name="AppId" serializeAs="String">
                <value>Poker Reloaded</value>
            </setting>
            <setting name="ListeningPort" serializeAs="String">
                <value>58474</value>
            </setting>
            <setting name="ServerId" serializeAs="String">
                <value>C61BCE7B-C9D4-4cd2-868D-CBBDE900E1B2</value>
            </setting>
            <setting name="ServerType" serializeAs="String">
                <value>GameServer</value>
            </setting>
            <setting name="BroadcastRange" serializeAs="String">
                <value>58464-58484</value>
            </setting>
        </BB.Poker.GameServer.Properties.Settings>
    </applicationSettings>
</configuration>
